

p.FM_ItemKey {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       3.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Footnote {
        margin-left:     36.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Body1 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      justify;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_ActiveTOC {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      justify;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Frame025 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     18.000pt;
        margin-top:      3.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       2.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Enhanced {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       3.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBullet {
        margin-left:     10.080pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -10.080pt;
        margin-top:      4.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_AppendixTOC {
        margin-left:     0.000pt;
        margin-right:    32.400pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      16.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        font-variant:    small-caps;
        
}
p.FM_Figure {
        margin-left:     13.745pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      12.000pt;
        margin-bottom:   16.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellHeading {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       11.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBulletIndent {
        margin-left:     23.760pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -9.360pt;
        margin-top:      4.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_BulletedCont {
        margin-left:     130.752pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      2.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_TitleBook {
        margin-left:     36.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      29.000pt;
        margin-bottom:   29.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       24.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        font-variant:    small-caps;
        
}
p.FM_Title {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      24.000pt;
        margin-bottom:   12.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     bold;
        font-size:       18.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading1 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      17.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       18.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellAlpha {
        margin-left:     28.800pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.400pt;
        margin-top:      1.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Bulleted {
        margin-left:     54.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_HeadingRunIn {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading2 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      19.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       16.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Path {
        margin-left:     36.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      5.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Courier New;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading3 {
        margin-left:     36.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      17.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Contents {
        margin-left:     0.000pt;
        margin-right:    108.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   7.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       22.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        font-variant:    small-caps;
        
}
p.FM_CellBulletIndent2 {
        margin-left:     36.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -7.200pt;
        margin-top:      4.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBodyIndent2 {
        margin-left:     21.600pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      2.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellAlpha1X {
        margin-left:     21.600pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -21.600pt;
        margin-top:      1.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_BulletedIndentCont {
        margin-left:     72.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_BulletedIndent2 {
        margin-left:     90.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Tip {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       2.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading4 {
        margin-left:     36.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      14.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading3TOC {
        margin-left:     36.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Tahoma;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_ListIntro {
        margin-left:     36.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      11.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading2TOC {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   1.000pt;
        word-spacing:    0.250em;
        font-family:     Tahoma;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Equation {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      6.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellNumbered1 {
        margin-left:     21.600pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -21.600pt;
        margin-top:      4.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBodyIndent {
        margin-left:     10.080pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      2.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBodyBold {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      4.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellAlpha1 {
        margin-left:     28.800pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.400pt;
        margin-top:      1.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_NumberedAlphaIndent1 {
        margin-left:     129.600pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.400pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_NumberedAlphaIndent {
        margin-left:     129.600pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.400pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading1TOC {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   2.000pt;
        word-spacing:    0.250em;
        font-family:     Tahoma;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Footer {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Callout {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       8.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_BulletedIndentCont2 {
        margin-left:     90.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Appendix {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   40.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       22.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        font-variant:    small-caps;
        
}
p.FM_frame {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_TableTitle {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Source {
        margin-left:     36.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      italic;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_NumberedAlpha1 {
        margin-left:     72.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_FrameCellBody {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       2.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Extract {
        margin-left:     18.000pt;
        margin-right:    18.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      4.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellNumbered {
        margin-left:     21.600pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -21.600pt;
        margin-top:      4.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_AuthorBook {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   292.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       13.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_NumberedAlpha {
        margin-left:     72.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_New {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       3.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_logo {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   176.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Header {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       7.0pt;
        color:           #666666;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Frame {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       2.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellHeadingLeft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       11.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Numbered {
        margin-left:     54.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Frame05 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     36.000pt;
        margin-top:      3.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       2.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_FooterL {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_FigureTitle1 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_ChapterTitleTOC {
        margin-left:     117.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -117.000pt;
        margin-top:      22.000pt;
        margin-bottom:   9.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      italic;
        font-weight:     normal;
        font-size:       14.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellAlphaX {
        margin-left:     21.600pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -21.600pt;
        margin-top:      1.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Subtitle {
        margin-left:     72.000pt;
        margin-right:    36.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   280.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       11.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_NumberedCont {
        margin-left:     54.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      4.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_List {
        margin-left:     72.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -72.000pt;
        margin-top:      4.000pt;
        margin-bottom:   2.000pt;
        word-spacing:    0.250em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_FrameNumberedCont {
        margin-left:     54.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      4.500pt;
        margin-bottom:   4.500pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       2.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_FrameBulletIndent2 {
        margin-left:     90.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      4.500pt;
        margin-bottom:   4.500pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       2.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Frame075 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     54.000pt;
        margin-top:      3.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       2.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_BulletedIndent {
        margin-left:     72.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Numbered1 {
        margin-left:     54.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_FrameBulletIndent {
        margin-left:     72.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      4.500pt;
        margin-bottom:   4.500pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       2.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_FigureTitle {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Draft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       65.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Copyright {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_TableFootnote {
        margin-left:     30.000pt;
        margin-right:    18.000pt;
        text-align:      left;
        text-indent:     -12.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_FrameBody {
        margin-left:     36.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      4.500pt;
        margin-bottom:   4.500pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       2.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Body {
        margin-left:     36.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      11.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Sidebar {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      4.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_PathIndent {
        margin-left:     54.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      5.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Courier New;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Indented {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_FrameBullet {
        margin-left:     41.040pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     12.960pt;
        margin-top:      3.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       2.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_ChapterTitle {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   40.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       22.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        font-variant:    small-caps;
        
}
p.FM_CellBulletBold {
        margin-left:     10.080pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -10.080pt;
        margin-top:      4.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBodyCenter {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      4.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBody {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      4.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_BodyIndent {
        margin-left:     54.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.300em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_PageNumber {
        font-weight:     bold;
        
}
span.FM_EquationVariables {
        font-style:      italic;
        
}
span.FM_Bold {
        font-weight:     bold;
        
}
span.FM_BulletFont {
        font-family:     Wingdings;
        font-style:      normal;
        font-weight:     normal;
        font-size:       7.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_Path {
        font-family:     Courier New;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_Emphasis {
        font-style:      italic;
        
}
span.FM_Super {
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_path {
        font-family:     Courier New;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_Callout {
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       8.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_smallcap {
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       22.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        font-variant:    small-caps;
        
}
span.FM_Hyperlink {
        font-style:      normal;
        font-weight:     normal;
        color:           #0000ff;
        text-decoration: underline;
        letter-spacing:  0.00em;
        
}
span.FM_XBold {
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_BulletSymbol {
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       8.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_EquationNumber {
        font-style:      normal;
        font-weight:     bold;
        font-size:       8.0pt;
        color:           #000000;
        letter-spacing:  0.00em;
        
}
span.FM_ChapterNumber {
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       20.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.04em;
        
}
span.FM_StepNumber {
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}